@model dynamic

@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>

<div class="row">
    <div class="col-md-3">
        <div class="card p-3">
            <h5>Total Doctors</h5>
            <h3>@Model.TotalDoctors</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <h5>Total Patients</h5>
            <h3>@Model.TotalPatients</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <h5>Total Appointments</h5>
            <h3>@Model.TotalAppointments</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <h5>Completed</h5>
            <h3>@Model.CompletedAppointments</h3>
        </div>
    </div>
</div>
